/* Colors variables */
:root{
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --purple: #5636c0;
}

/* standard colors */
.very-pale-blue{
    color: var(--very-pale-blue);
}

.desaturated-blue{
    color: var(--desaturated-blue);
}

.dark-blue{
    color: var(--dark-blue);
}

.pale-blue{
    color: var(--pale-blue);
}

.bright-blue{
    color: var(--bright-blue);
}

.white{
    color: #fff;
}

.purple{
    color: var(--purple);
}

/* For links */
.no-decoration{
    text-decoration: none;
}

.block{
    display: block;
}

.text-center{    
    text-align: center;
}

/* Utilities */
.no-margin{
    margin: 0;
}

/* For buttons */
.btn:hover{
    transition: all 0.4s;
}

.btn-payment{
    margin-bottom: 2rem;
    background-color: var(--bright-blue);
    padding: 5% 0%;
    border-radius: 10px;
    box-shadow: 0px 15px 12px 5px hsla(245, 75%, 52%, 0.17);
}

.btn-payment:hover{
    opacity: 0.7;
    cursor: pointer;
}

.btn-cancel-order:hover{
    color: var(--dark-blue);
}

/* Waves background */
.background{
    overflow:auto;
    /* Flex box - put element in center */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    /* create background */
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: var(--pale-blue);
}

@media (min-height: 610px) {
    .background{
       justify-content: center;
    }
}

/* Main card */
.main-card{
    background-color: #fff;
    max-width: 450px;
    border-radius: 25px;
    box-shadow: 0px 15px 20px 5px hsla(245, 75%, 52%, 0.1);
    margin: 2% 5%;
}

.card-bottom{
    padding: 5% 10%;
}

.top-img{
    width: 100%;
    border-radius: 25px 25px 0 0;
}

/* Plan card */
.plan-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--very-pale-blue);
    border-radius: 10px;
    margin-bottom: 8%;
    padding: 4% 2%;
}

.plan-logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-logo{
    height: 25%;
}

.plan-text{
    width: 45%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.plan-link{
    width: 30%;
}
.plan-link a:hover{
    text-decoration: none;
    opacity: 0.6;
}

/* Attribution */
.attribution{
    margin-bottom: 2%;
}

/* Start - Style for font */
body{
    font-family: 'Red Hat Display', sans-serif;
}

.w-500{
    font-weight: 500;
}

.w-700{
    font-weight: 700;
}

.w-900{
    font-weight: 900;
}
/* End - Style for font */
